
body{
    background-color: beige;
}

h1{
    color: black;
    font: optional;
    font-family: sans-serif;
    text-align: center;
}

h2, h3, p{
    color: black;
    font: optional;
    font-family: sans-serif;
    font-weight: bold;
    text-align: justify;
}